*{
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  display: block;
  margin-top: 20px;
}
header{
  display: flex;
  justify-content: center;
  background-color: #000;
  padding-top: 10px;
}
.header{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.header img{
  width: 200px;
}
.header p{
  font-weight: bold;
  color: yellow;
  margin: 20px 0;
  font-size: 3rem;
}
main{
  margin: 0 auto;
  width: 90%;text-align: center;
  /* background:url(./imagens/cama.webp) no-repeat center;
  object-fit: cover; */
}
.imgCamas{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.imgCamas img{
  width: 300px;
  height: 250px;
  border-radius: 4px;
  object-fit: cover;
}
.precoNormal{
  text-decoration: line-through;
  color: red;
}
.desconto{
  color: green;
  font-size: 2rem;
}
.itemContainer{
  display: flex;
  flex-direction: column;
  gap: 10px; 
}
.comprar{
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}
ul{
  list-style: none;
}
li{
  margin-bottom: 10px;
}
h1{
  margin: 20px 0;
}
h2{
  margin-bottom: 20px;
}
.list{
  margin-top: 40px;
  margin-bottom: 50px;
}
.list p{
  margin-bottom: 20px;
}
.bold{
  font-weight: bold;
}
.whatsapp{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
  font-size: 2rem;
}
.whatsapp a{
  color: green;
}

@media(max-width:765px){
  .imgCamas{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}